.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/*.lock
/.idea/
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